a  {
    font-color: black;

}


h1 {
    color: rgb(48, 7, 48);
    font-family: sans-serif;
    background-position: center; 
    text-align: center; 


}


h2 {
    color: rgb(44, 5, 18);
    font-family: cursive;
    text-align: center;
}


p {
    color: black;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    border-style: dotted;
    border-width: 2px;
    box-sizing: border-box;
    box-sizing: content-box;
    





}

body {

    background-image: url(https://image.freepik.com/free-vector/natural-background-with-watercolor-flowers_23-2148218474.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }


ul{
    font-size: 16px;
   
    font-style: italic;
    text-align: center;
    font-weight: bold;

}

img {
    width: 200px;
    height: 175px; 
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

